<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span jhiTranslate="mitiendaApp.usuario.detail.title">Usuario</span> {{ usuario.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mitiendaApp.usuario.segundoNombre">Segundo Nombre</span></dt>
                <dd>
                    <span>{{ usuario.segundoNombre }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.segundoApellido">Segundo Apellido</span></dt>
                <dd>
                    <span>{{ usuario.segundoApellido }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.numDocumento">Num Documento</span></dt>
                <dd>
                    <span>{{ usuario.numDocumento }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.celular">Celular</span></dt>
                <dd>
                    <span>{{ usuario.celular }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.direccion">Direccion</span></dt>
                <dd>
                    <span>{{ usuario.direccion }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.genero">Genero</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mitiendaApp.Genero.' + usuario.genero }}">{{ usuario.genero }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.user">User</span></dt>
                <dd>
                    {{ usuario.userLogin }}
                </dd>
                <dt><span jhiTranslate="mitiendaApp.usuario.cuidad">Cuidad</span></dt>
                <dd>
                    <div *ngIf="usuario.cuidadId">
                        <a [routerLink]="['/elemento-lista', usuario.cuidadId, 'view']">{{ usuario.cuidadNombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
