<div>
    <h2 id="page-heading">
        <span jhiTranslate="mitiendaApp.tipoLista.home.title">Tipo Listas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-lista" [routerLink]="['/tipo-lista/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mitiendaApp.tipoLista.home.createLabel">
            Create a new Tipo Lista
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipoListas?.length === 0">
        <span jhiTranslate="mitiendaApp.tipoLista.home.notFound">No tipoListas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipoListas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="mitiendaApp.tipoLista.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="mitiendaApp.tipoLista.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="padreNombre"><span jhiTranslate="mitiendaApp.tipoLista.padre">Padre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoLista of tipoListas ;trackBy: trackId">
                    <td><a [routerLink]="['/tipo-lista', tipoLista.id, 'view']">{{ tipoLista.id }}</a></td>
                    <td>{{ tipoLista.nombre }}</td>
                    <td>{{ tipoLista.descripcion }}</td>
                    <td>
                        <div *ngIf="tipoLista.padreId">
                            <a [routerLink]="['/tipo-lista', tipoLista.padreId , 'view']" >{{ tipoLista.padreNombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipo-lista', tipoLista.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipo-lista', tipoLista.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipoLista)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tipoListas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
