<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-producto-detalle-heading" jhiTranslate="mitiendaApp.productoDetalle.home.createOrEditLabel">Create or edit a Producto Detalle</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.productoDetalle.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                           formControlName="codigo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.productoDetalle.talla" for="field_talla">Talla</label>
                    <select class="form-control" id="field_talla" name="talla" formControlName="tallaId">
                        <option *ngIf="!editForm.get('tallaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="elementoListaOption.id" *ngFor="let elementoListaOption of elementolistas; trackBy: trackById">{{ elementoListaOption.valor }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tallaId')!.invalid && (editForm.get('tallaId')!.dirty || editForm.get('tallaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tallaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.productoDetalle.color" for="field_color">Color</label>
                    <select class="form-control" id="field_color" name="color" formControlName="colorId">
                        <option *ngIf="!editForm.get('colorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="elementoListaOption.id" *ngFor="let elementoListaOption of elementolistas; trackBy: trackById">{{ elementoListaOption.nombre }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('colorId')!.invalid && (editForm.get('colorId')!.dirty || editForm.get('colorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('colorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.productoDetalle.producto" for="field_producto">Producto</label>
                    <select class="form-control" id="field_producto" name="producto" formControlName="productoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productoOption.id" *ngFor="let productoOption of productos; trackBy: trackById">{{ productoOption.nombre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
